{% extends 'base.html' %}

{% block title %}All files{% endblock %}

{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
      <th>Reload</th>
      <th>Link</th>
      <th>Path</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}    <tr>
      <td> 
        <a href={% url "users:single_file" file.id %}>{{ file.title }}</a>
      </td>
      <td>{{ file.description }}</td>
      <td>{{ file.published }}</td>
      <td>{{ file.date_last_load }}</td>
      <td>{{ file.link_download }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.user }}</td>
      <td><button class="btn btn-primary">Go to</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}